*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-body{
    background-size: cover;
    background-image: url('./image/cafe.jpg');
}

.reasons {
    margin: 0 auto;
    padding: 40px;
    max-width: 1200px;
    background-color: #333;
  }
  
  .reason-content {
    width: 100%;
  }
  
  .small-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
  }
  
  .reason-info {
    padding: 20px;
  }

.atmp-text{
    width: 500px;
}

.box{
    width: 300px;
    height: 220px;
    background-color: white;
}

.center-box{
    background-color: #C9C9C9;
}

.box-content{
    text-align: center;
    display: inline-block;
}

.atmosphere{
    width: 500px;
}